<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1579815185,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2020\/sports\/chips-list",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2020-01-23 17:30:00",
	"modifieddate":"2020-01-23 17:30:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"off",
	"section_tier1":"sports",
	"section_tier2":"high-school",
	"sections_all":"high-school|sports",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>